extends layout

block content
    h1= "Edit Fabelio"
    div.newemployee
        form( method="post")
            input(name="_id", type="hidden", value=employee._id.toHexString()) 
            div
                div
                    span.label Barang :
                    input(type="text", name="barang", id="editEmployeeTitle", value=employee.barang)
                div
                    span.label Name :
                    input(type="text", name="harga", id="editEmployeeName", value=employee.harga)
                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Fabelio List"